body {
  background-color: #000;
  color: #fff;
}
.title__wrapper {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5vw;
}
.remove {
  display: none;
}

.content__block {
  padding: 2%;
  margin: 0 auto;
}
.city__name {
  font-size: 3rem;
}
.weather__temp {
  font-size: 2rem;
}
.weather__icon:hover {
  opacity: 0.8;
}
.weather__extra-info p {
  font-size: 1.5rem
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
